@keyframes blink {
  from, to { color: transparent; }
  50% { color: black; }
}

@-webkit-keyframes blink {
  from, to { color: transparent; }
  50% { color: black; }
}

@-webkit-keyframes gradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes gradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes gradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes gradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

.cursor {
    animation: blink 1s step-end infinite;
    -webkit-animation: blink 1s step-end infinite;
}

.animated-gradient {
  background: linear-gradient(to bottom, #ffffff 0%,#ffffff 45%,#000000 49%,#000000 50%,#000000 51%,#ffffff 55%,#ffffff 100%);
  background-size: 100% 200%;
  animation: gradient 2s ease 1s infinite;
  -webkit-animation: gradient 2s ease 1s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fadein-top-25 {
	0% {transform: translateY(-75%); }
	100% {transform: translateY(-25%); }
}

.fadein-25.top {
	animation: fadein-top-25 .3s ease-in-out both;
}

@keyframes fadein-top-50 {
  0% {transform: translateY(-200%); }
  100% {transform: translateY(-50%); }
}

.fadein-50.top {
  animation: fadein-top-50 .3s ease-in-out both;
}

@keyframes fadein-top {
  0% {transform: translateY(-50%); }
  100% {transform: translateY(0%); }
}

@-webkit-keyframes fadein-top {
  0% {-webkit-transform: translateY(-50%); }
  100% {-webkit-transform: translateY(0%); }
}

.fadein.top {
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  animation: fadein-top .3s ease-in-out both;
  -webkit-animation: fadein-top .3s ease-in-out both;
}