@for $i from 1 to 10 {
	.bg-0#{$i} {
		background-color: rgba(0, 0, 0, $i/10) !important;
	}
}

.bg-black {
	background-color: black !important;
}

.bg-white {
  background-color: white !important;
}

.filter-invert {
  filter: invert(1);
}