.img-circle {
	border-radius: 50% !important;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-framed {
  box-shadow: 0px 0px 70px rgba(0,0,0,0.4);
  border: 7px solid whitesmoke;

  background-position: center;
  background-size: cover;
}