.close-modal {
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 45px;
	background-color: transparent;
	cursor: pointer;
	z-index: 1;

	.lr {
		z-index: 1051;
		margin-left: 22px;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);

		&, .rl {
			width: 1px;
			height: 45px;
			background-color: #222;
		}

		.rl {
			z-index: 1052;
			-webkit-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
		}
	}
}