$positions: static, relative, absolute, fixed, sticky, unset;

@each $position in $positions {
  .position-#{$position} { position: $position !important; }
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    	.position#{$infix}-#{$position} { position: $position !important; }
    }
  }
}

$sides: top, right, bottom, left;

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $side in $sides {
      // @for $percentage from 0 through 100 {
      //   @if $percentage % 10 == 0 {
      // 	 .#{$side}#{$infix}-#{$percentage} { #{$side}: #{$percentage}% !important; }
      //   }
      // }
      $percentage: 0;
      .#{$side}#{$infix}-#{$percentage} { #{$side}: #{$percentage}#{'%'} !important; }
    }
  }
}

.absolute-center {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}