// @each $size in map-keys($sizes) {
//   .w-xs-#{$size} { width: map-get($sizes, $size) !important; }
// }

// @each $size in map-keys($sizes) {
//   @each $breakpoint in map-keys($grid-breakpoints) {
//     @include media-breakpoint-up($breakpoint) {
//       $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

//       .w#{$infix}-#{$size} { width: map-get($sizes, $size) !important; }
//     }
//   }
// }

.w-100 {
  width: 100% !important;
}
.w-50 {
  width: 50% !important;
}

/* sizes */

// $sizeNumbers: () !default;
// $sizeNumbers: map-merge((
//   25: 25,
//   33: 33,
//   50: 50,
//   75: 75,
//   100: 100
// ), $sizeNumbers);

// @each $number in map-keys($sizeNumbers) {
//   @each $breakpoint in map-keys($grid-breakpoints) {
//     @include media-breakpoint-up($breakpoint) {
//       $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

//       .vh#{$infix}-#{$number} { height: map-get($sizeNumbers, $number) + vh !important; }
//     }
//   }
// }

.vh-100 { height: 100vh !important; }

// .mvh-100 {
// 	max-height: 100vh !important;
// }

// .minvh-100 {
// 	min-height: 100vh !important;
// 	max-height: none !important;
// }

.h-auto {
	height: auto !important;
}

.h-50 {
  height: 50% !important;
}

.minw-100 {
	width: 100% !important;
	max-width: none !important;
}