{{ "<!-- Footer section -->" | safeHTML }}
<footer class="bg-dark text-white py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <span class="copyright">Copyright &copy; {{ now.Format "2006" }} {{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</span>
        <div>{{ with .Site.GetPage "/privacy-policy" }}<a class="btn-link text-white" href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}</div>
        <div>{{ with .Site.GetPage "/impressum" }}<a class="btn-link text-white" href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}</div>
      </div>
    </div>
  </div>
</footer>