<head>
  {{ "<!-- Required meta tags -->" | safeHTML }}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ block "title" . }}{{ .Title }}{{ if not .IsHome }} &middot; {{ .Site.Title }}{{ end }}{{ with .Site.Params.name }} &ndash; {{ . }}{{ end }}{{ end }}</title>

  <link rel="canonical" href="{{ .Site.BaseURL }}"/>
  {{ "<!-- For Google -->" | safeHTML }}
  <meta name="title" content="{{ .Title }}{{ if not .IsHome }} &middot; {{ .Site.Title }}{{ end }}{{ with .Site.Params.name }} &ndash; {{ . }}{{ end }}"/>
  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Params.name }}
  <meta name="author" content="{{ . }}">
  <meta name="publisher" content="{{ . }}"/>
  <meta name="copyright" content="{{ . }}"/>
  {{ end }}
  <meta name="revisit" content="After 10 days"/>
  {{ with .Site.Params.keywords }}<meta name="keywords" content="{{ . }}"/>{{ end }}
  <meta name="abstract" content="Daniel Satanik's portfolio with an extensive look on his private and professional life so far"/>
  <meta name="page-topic" content="Services"/>
  <meta name="page-topic" content="Private Homepage"/>
  <meta name="audience" content="Profis"/>
  <meta name="robots" content="INDEX,FOLLOW"/>
  <meta name="language" content="{{ .Site.Language.LanguageName }}"/>
  <meta name="google" content="notranslate" />

  {{ "<!-- For Facebook -->" | safeHTML }}
  <meta property="og:locale" content="{{ .Site.Params.locale }}">
  <meta property="og:title" content="{{ .Title }}{{ if not .IsHome }} &middot; {{ .Site.Title }}{{ end }}{{ with .Site.Params.name }} &ndash; {{ . }}{{ end }}" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ (resources.Get "img/favicon/mstile-310x310.png" | fingerprint "sha512").Permalink }}" />

  <meta property="og:url" content="{{ "" | absLangURL }}" />
  <meta property="og:site_name" content="{{ .Title }}{{ with .Site.Params.name }} &ndash; {{ . }}{{ end }}" />
  {{ with .Site.Params.description }}<meta property="og:description" content="{{ . }}" />{{ end }}

  {{ "<!-- For Twitter -->" | safeHTML }}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ .Title }}{{ if not .IsHome }} &middot; {{ .Site.Title }}{{ end }}{{ with .Site.Params.name }} &ndash; {{ . }}{{ end }}" />
  {{ with .Site.Params.description }}<meta name="twitter:description" content="{{ . }}" />{{ end }}
  <meta name="twitter:site" content="@dsatanik">
  <meta name="twitter:creator" content="@dsatanik">
  <meta name="twitter:image" content="{{ (resources.Get "img/favicon/mstile-310x310.png" | fingerprint "sha512").Permalink }}" />

  {{ $profile := resources.Get "img/me.jpg" | fingerprint "sha512" }}
  <script type="application/ld+json">{"@context": "http://schema.org", "@type": "WebPage", "primaryImageOfPage": [ "{{$profile.Permalink}}"], "@id": "{{"" | absLangURL}}", "name": "{{.Title}}- Daniel Satanik", "about":{"@type": "Thing", "name": "{{.Title}}"}, "description": {{ printf "\"%s\"" .Site.Params.description | safeJS }}, "url": "{{"" | absLangURL}}", "author":{"@type": "Person", "address":{"@type": "PostalAddress", "addressLocality": "Klosterneuburg,{{.Site.Params.nationality}}", "addressRegion": "NÖ", "postalCode": "3400"}, "email": "mailto:daniel@satanik.at", "name": "Daniel Satanik", "givenName": "Daniel", "familyName": "Satanik", "birthDate": "{{.Site.Params.birthdate}}", "url": "{{"" | absLangURL}}", "jobTitle": "{{.Site.Params.jobTitle}}", "alumniOf": "{{.Site.Params.alumniOf}}", "gender": "{{.Site.Params.gender}}", "image": "{{$profile.Permalink}}", "nationality": "{{.Site.Params.nationality}}"}, "publisher":{"@type": "Person", "address":{"@type": "PostalAddress", "addressLocality": "Klosterneuburg,{{.Site.Params.nationality}}", "addressRegion": "NÖ", "postalCode": "3400"}, "email": "mailto:daniel@satanik.at", "name": "Daniel Satanik", "givenName": "Daniel", "familyName": "Satanik", "birthDate": "{{.Site.Params.birthdate}}", "url": "{{"" | absLangURL}}", "jobTitle": "{{.Site.Params.jobTitle}}", "alumniOf": "{{.Site.Params.alumniOf}}", "gender": "{{.Site.Params.gender}}", "image": "{{$profile.Permalink}}", "nationality": "{{.Site.Params.nationality}}"}, "accountablePerson":{"@type": "Person", "address":{"@type": "PostalAddress", "addressLocality": "Klosterneuburg,{{.Site.Params.nationality}}", "addressRegion": "NÖ", "postalCode": "3400"}, "email": "mailto:daniel@satanik.at", "name": "Daniel Satanik", "givenName": "Daniel", "familyName": "Satanik", "birthDate": "{{.Site.Params.birthdate}}", "url": "{{"" | absLangURL}}", "jobTitle": "{{.Site.Params.jobTitle}}", "alumniOf": "{{.Site.Params.alumniOf}}", "gender": "{{.Site.Params.gender}}", "image": "{{$profile.Permalink}}", "nationality": "{{.Site.Params.nationality}}"}}</script>

{{ if eq (getenv "HUGO_ENV") "production" }}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TJS8MG3');</script>
  <!-- End Google Tag Manager -->
{{ end }}

{{ if eq (getenv "HUGO_ENV") "production" }}
  <link rel="dns-prefetch" href="https://www.googletagmanager.com">
  <link rel="dns-prefetch" href="https://www.google-analytics.com">
  <link rel="dns-prefetch" href="https://www.google.com">
{{ end }}
  <link rel="dns-prefetch" href="https://oss.maxcdn.com">
  <link rel="dns-prefetch" href="https://www.gstatic.com">

  {{ "<!-- Stylesheets -->" | safeHTML }}

  {{ "<!-- Cookies --> " | safeHTML }}
  <style>
    .cc-btn.cc-dismiss {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
      color: #212529 !important;
      background-color: #ffc107 !important;
      border-color: #ffc107 !important;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
    }

    .cc-btn.cc-dismiss:hover {
      text-decoration: none !important;.
      color: #212529 !important;
      background-color: #e0a800 !important;
      border-color: #d39e00 !important;
    }

    [aria-label="cookieconsent"] {
      box-shadow: 0 -1px 6px rgba(0,0,0,0.4);
    }
  </style>
  {{ "<!-- Main CSS -->" | safeHTML }}

  {{ $options := (dict "transpiler" "dartsass" "outputStyle" "compressed") }}
  {{ $mainCSS := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "css/main.scss" . | toCSS (dict "transpiler" "dartsass") }}
  {{ $fontsCSS := resources.Get "css/fonts.css" | resources.ExecuteAsTemplate "css/fonts.css" . }}

  {{ $cssList := slice $mainCSS $fontsCSS }}
  {{ $mainCSS := $cssList | resources.Concat "css/main.css" | toCSS $options | postCSS | minify | fingerprint "sha512" }}

  <link rel="stylesheet" href="{{ $mainCSS.Permalink }}" type="text/css">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ (resources.Get "img/favicon/apple-touch-icon.png" | fingerprint "sha512").Permalink }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ (resources.Get "img/favicon/favicon-32x32.png" | fingerprint "sha512").Permalink }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ (resources.Get "img/favicon/favicon-16x16.png" | fingerprint "sha512").Permalink }}" />
  {{ $manifest := resources.Get "img/favicon/site.webmanifest" | fingerprint "sha512" }}
  <link rel="manifest" href="{{ (resources.Get "img/favicon/site.webmanifest" | fingerprint "sha512").Permalink }}" />
  <link rel="mask-icon" href="{{ (resources.Get "img/favicon/safari-pinned-tab.svg" | fingerprint "sha512").Permalink }}" color="#0095eb">
  <link rel="shortcut icon" href="{{ (resources.Get "img/favicon/favicon.ico" | fingerprint "sha512").Permalink }}" />
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="{{ (resources.Get "img/favicon/mstile-144x144.png" | fingerprint "sha512").Permalink }}" />
  <meta name="theme-color" content="#ffffff">

  {{ "<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->" | safeHTML }}
  {{ "<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->" | safeHTML }}
  {{ "<!--[if lt IE 9]>" | safeHTML }}
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  {{ "<![endif]-->" | safeHTML }}

  <script src='https://www.google.com/recaptcha/api.js?hl={{ .Site.Language.Lang }}' async defer></script>
</head>