{{ $jsnotifier := .this }}
{{ with $jsnotifier }}
<noscript>
<input id="jsnotice-collapse" class="dialog-collapse" type="checkbox" checked>
<div role="dialog" aria-live="polite" aria-label="jsconsent" aria-describedby="jsconsent:desc" class="dialog bg-white cc-window cc-banner cc-type-info cc-theme-block cc-bottom cc-color-override-1719022807 ">
  <!--googleoff: all-->
  <span id="cookieconsent:desc" class="cc-message">{{ .message }} <a aria-label="learn more about cookies" role="button" tabindex="0" class="cc-link" href="{{ .link }}" rel="noopener noreferrer nofollow" target="_blank">{{ .linkText }}.</a></span>
  <div class="cc-compliance">
    <label aria-label="dismiss cookie message" role="button" tabindex="0" class="cc-btn cc-dismiss" for="jsnotice-collapse">OK</label>
  </div>
  <!--googleon: all-->
</div>
</noscript>
{{ end }}