{{ $global := .global }}
{{ $languagechooser := .this }}
{{ if hugo.IsMultilingual }}
{{ with $languagechooser }}
<label class="lang-floating-btn btn btn-primary btn-lg position-fixed p-3 mb-0" for="lang-collapse">
  <i class="fas fa-language fa-lg"></i>
</label>
<input id="lang-collapse" class="dialog-collapse" type="checkbox">
<div id="lang-dialog" class="dialog fadein-50 top modal-dialog modal-sm modal-centered mx-auto my-0" role="document">
  <div class="modal-content border-0">
    <div class="modal-body position-unset">
      <ul>
        {{ range $global.Site.Languages }}
        {{ with (dict "Language" .) }}
        <li>
          <input id="lang{{ upper .Language.Lang }}" type="radio" name="language" class="d-none" {{ if (eq .Language.Lang $global.Site.Language.Lang) }}checked{{ end }} value="{{ .Language.Lang }}" data-href="{{ .Permalink }}">
          <label for="lang{{ upper .Language.Lang }}" class="d-flex justify-content-between">
            <span>{{ .Language.LanguageName }}</span>
            <i class="far fa-circle fa-lg"></i>
            <i class="far fa-check-circle fa-lg"></i>
          </label>
          {{ $chooseText := index (index (index $global.Site.Data .Language.Lang) "meta") "languagechooser" }}
          {{ if eq .Language.Lang $global.Site.Params.defaultLanguage }}
          <a hreflang="{{ .Language.Lang }}" class="choose-lang btn btn-primary text-white position-absolute" href="{{ $global.Permalink }}">{{ $chooseText.chooseText }}</a>
          {{ else }}
          <a rel="alternate" hreflang="{{ .Language.Lang }}" class="choose-lang btn btn-primary text-white position-absolute" href="{{ .Permalink  }}">{{ $chooseText.chooseText }}</a>
          {{ end }}
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
<label class="dialog-backdrop modal-backdrop fade show" for="lang-collapse"></label>
{{ end }}
{{ end }}