{{ $global := .global }}
{{ $nav := .this }}

{{ with (index $global.Site.Data $global.Site.Language.Lang) }}
  {{ $global.Scratch.Set "Data" . }}
{{ else }}
  {{ $global.Scratch.Set "Data" $global.Site.Data }}
{{ end }}
{{ $sections := (index ($global.Scratch.Get "Data") "sections") }}
{{ "<!-- Navigation -->" | safeHTML }}
<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-white fixed-top p-0">
  <div class="container">
    <a class="navbar-brand position-lg-absolute pl-3 pl-lg-0" href="{{ if $global.IsHome }}#top{{ else }}{{ printf "/" | absLangURL }}{{ end }}">
      {{ $global.Site.Params.navigation.brand }}
    </a>
    <input type="checkbox" id="navbar-toggle-cbox" class="navbar-enabler">
    <label for="navbar-toggle-cbox" class="navbar-toggler border-0 rounded-0 mr-1 mb-0" type="button" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </label>
    <div class="shadow-occluder d-lg-none w-100 bg-white"></div>
    <div class="collapse navbar-collapse position-relative" id="navbarCollapse">
      <ul class="navbar-nav mx-auto">
        <li class="d-none">
          <a  class="nav-link" href="{{ if $global.IsHome }}#top{{ else }}{{ printf "/" | absLangURL }}{{ end }}"></a>
        </li>
        {{ range $global.Site.Params.navigation.menu }}
          {{ if isset $sections . }}
            {{ $global.Scratch.Set "Context" (index $sections .) }}
          {{ else if isset $global.Site.Data.sections . }}
            {{ $global.Scratch.Set "Context" (index $global.Site.Data.sections .) }}
          {{ end }}
          {{ with $global.Scratch.Get "Context" }}
          <li class="nav-item">
            <a class="nav-link text-monospace text-uppercase" href="{{ if $global.IsHome }}{{ printf "#%s" .slug }}{{ else }}{{ printf "%s#%s" (printf "/" | absLangURL) .slug }}{{ end }}">{{ .title }}</a>
          </li>
          {{ end }}
        {{ end }}
        {{ if and ($global.Site.Params.blog) (gt ($global.Site.Pages | len) 0) }}
        <li class="nav-item">
          {{ with $global.Site.GetPage "/blog" }}
          <a class="nav-link text-monospace text-uppercase" href="{{ .Permalink }}">{{ .Title | singularize }}</a>
          {{ end }}
        </li>
        {{ end }}
      </ul>
      {{ range $nav.files }}
      <div class="position-lg-absolute right-lg-0 mr-lg-2 mt-3 mt-lg-0">
        {{ $file := resources.Get (printf "files/%s" .file) }}
        <a class="ml-3 mb-3 mb-lg-0 btn btn-outline-primary btn-sm px-4 " href="{{ $file.Permalink }}" target="_blank" rel="nofollow">{{ .name }}</a>
      </div>
      {{ end }}
    </div>
    <noscript class="position-absolute left-0 right-0 bottom-0">
    </noscript>
  </div>
</nav>
<div id="top" class="bg-white"></div>