{{ "<!-- Modal -->" | safeHTML }}
{{ $global := .global }}
{{ $this := .this }}
{{ with .this }}
<input id="{{ .id }}-collapse" class="dialog-collapse" type="checkbox">
<div class="dialog modal-dialog bg-white minw-100 m-0" role="document">
  <div class="modal-content minvh-100 rounded-0 border-0 shadow-none">
    <label class="close-modal" for="{{ .id }}-collapse" aria-label="Close">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </label>
    <div class="container-fluid vh-100">
        <div class="row h-100">
          <div class="col-12">
            <div class="row">
              {{ with .title }}
              <h2 class="col-lg-8 mx-auto text-center h1 text-uppercase font-weight-bold mt-5">{{ . | markdownify }}</h2>
              {{ end }}
              {{ with .subtitle }}
              <div class="col-lg-8 mx-auto text-justify text-md-center text-muted mt-3">{{ . | markdownify }}</div>
              {{ end }}
              {{ with .img }}
              <figure class="col-lg-6 mx-auto text-center mt-3">
                {{ partial "image" (dict "src" .img "class" "img-fluid h-auto p-0") }}
              </figure>
              {{ end }}
              {{ with .description }}
              <p class="col-lg-8 mx-auto text-justify">{{ .description | markdownify }}</p>
              {{ end }}
            </div>
          </div>
          {{ with .partial }}
          <div class="col-12 mt-4 pb-4">
            <div class="row">
              <div class="col-lg-8 mx-auto">
              {{ with $this.partialOptions }}
                {{ partial $this.partial  (dict "global" $global "this" .) }}
              {{ else }}
                {{ partial .  (dict "global" $global "this" $this.partial) }}
              {{ end }}
              </div>
            </div>
          </div>
          {{ end }}
          <div class="col-12 text-center align-self-end pb-3">
            <label class="btn btn-primary" for="{{ .id }}-collapse">Close</label>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}