{{ $global := .global}}
{{ with (index $global.Site.Data $global.Site.Language.Lang) }}
  {{ $global.Scratch.Set "Data" . }}
{{ else }}
  {{ $global.Scratch.Set "Data" $global.Site.Data }}
{{ end }}
{{ $inc := (index ($global.Scratch.Get "Data") "inc" ) }}
{{ with .this }}
  {{ if isset $inc "timeline" }}
    {{ $global.Scratch.Set "Context" (index $inc "timeline") }}
  {{ else }}
    {{ $global.Scratch.Set "Context" (index $global.Site.Data.inc "timeline") }}
  {{ end }}
  {{ $timeline := $global.Scratch.Get "Context" }}
  <ul class="timeline">
    {{ $l := len .items }}
    {{ range $i, $e := .items }}
    <li {{ if (not (modBool $i 2)) }}class="timeline-inverted" {{ end }}>
      <div class="timeline-item">
        <div class="timeline-image">
          {{ partial "image" (dict "src" .img "class" "img-circle img-responsive" "alt" .alt) }}
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ .date }}</h4>
            <h4 class="subheading">{{ .title | markdownify }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">{{ .description  | markdownify }}</p>
          </div>
          <div class="timeline-tags mt-2">
            {{ range .tags }}
            <a class="btn btn-outline-primary btn-xs" href="{{ .url }}" target="_blank" rel="noreferrer noopener">{{ .text }}</a>
            {{ end }}
          </div>
          {{ with .modal }}
          <div class="timeline-btn-bar">
            <label class="d-inline-block mt-2 btn btn-xs btn-primary" for="{{ .id }}-collapse" href>{{ $timeline.moreLinkText }}&hellip;</label>
          </div>
          {{ end }}
        </div>
      </div>
      {{ with .modal }}
      {{ partial "inc/modal" (dict "global" $global "this" .) }}
      {{ end }}
    </li>
    {{ end }}
  </ul>
{{ end }}