@import "bootstrap";
@import "fontawesome";
@import "../../node_modules/cookieconsent/build/cookieconsent.min";
@import "plyr";

{{ range (slice (dict "key" "aruna" "value" "aruna_trailer") (dict "key" "neah" "value" "neah_preview") (dict "key" "polycular" "value" "polycular")) }}
{{ $url := resources.Get (printf "img/posters/%s.png" .value) }}
{{ printf "$%s-url: \"%s\"" .key $url.Permalink }};
{{ $url := resources.Get (printf "img/posters/%s.small.png" .value) }}
{{ printf "$%s-small-url: \"%s\"" .key $url.Permalink }};
{{ end }}

$image-names: ();
$image-names-small: ();
{{ range (slice (dict "key" "gotk-1" "value" "game_of_the_kings1.jpg") (dict "key" "gotk-2" "value" "game_of_the_kings2.jpg") (dict "key" "ghostrun-1" "value" "ghostrun1.png") (dict "key" "ghostrun-2" "value" "ghostrun2.jpg") (dict "key" "ghostrun-3" "value" "ghostrun3.jpg") (dict "key" "soma-1" "value" "soma1.png") (dict "key" "soma-2" "value" "soma2.png") (dict "key" "soma-3" "value" "soma3.png") (dict "key" "triptychon-1" "value" "triptychon1.png") (dict "key" "triptychon-2" "value" "triptychon2.png") (dict "key" "triptychon-3" "value" "triptychon3.jpg")) }}
{{ $url := resources.Get (printf "img/bsc/%s" .value) }}
{{ printf "$image-names: map-merge((%s: \"%s\"), $image-names);" .key $url.Permalink }};
{{ $url := resources.Get (printf "img/bsc/%s" (replace .value "." ".small.")) }}
{{ printf "$image-names-small: map-merge((%s: \"%s\"), $image-names);" .key $url.Permalink }};
{{ end }}

@import "specific";