{{ define "main" }}
  <header class="pt-5 pb-4">
    <div class="container d-flex flex-column align-items-center">
      <h1 class="title font-weight-bold text-uppercase">{{ .Title }}</h1>
      {{ with .Description }}<h2>{{ . }}</h2>{{ end }}
      <div class="container mt-2">
        <div class="row">
          <div class="col-12 row justify-content-center">
            <div class="col-sm-12 col-md-auto d-flex justify-content-center align-items-center py-2">
              <i class="far fa-calendar-alt pr-2"></i>
              <time datetime="{{ .Date.UTC }}">{{ dateFormat (i18n "dateFormat") .Date }}</time>
            </div>
            <div class="col-sm-12 col-md-auto d-flex justify-content-center align-items-center ml-md-2 py-2">
              <div><i class="fas fa-tags pr-2"></i></div>
              {{ range .Params.Tags }}
              <a class="btn btn-outline-primary btn-xs ml-1" href="/tags/{{ . | urlize }}">{{ . }}</a>
              {{ end }}
            </div>
          </div>
          {{ if or .PrevInSection .NextInSection }}
          <div class="col-sm-12 col-md-6 d-flex flex-column flex-md-row justify-content-md-begin py-2">
            {{ with .PrevInSection }}
            <a class="btn btn-outline-primary h-auto" href="{{ .Permalink }}">{{ i18n "previous" }}: {{ .Title }}</a>
            {{ end }}
          </div>
          <div class="col-sm-12 col-md-6 d-flex flex-column flex-md-row justify-content-md-end py-2">
            {{ with .NextInSection }}
            <a class="btn btn-outline-primary h-auto" href="{{ .Permalink }}">{{ i18n "next" }}: {{ .Title }}</a>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </header>
  <section class="container blog-article">
    {{ if .Params.toc }}
    {{ with .TableOfContents }}
    <div class="toc pt-4 pb-3 mb-4">
      <h2 class="text-center">{{ i18n "tableOfContents" }}</h2>
      <div class="d-flex justify-content-center">
        {{ . }}
      </div>
    </div>
    {{ end }}
    {{ end }}
    <div class="row pb-5">
      <div class="col content {{ with .Params.centered }} text-center {{ end }}">
        {{ .Content }}
      </div>
    </div>
  </section>
  <footer class="container pb-4">
    <div class="d-flex justify-content-between pt-4">
      <div>
        {{ with .PrevInSection }}
        <a class="btn btn-outline-primary" href="{{ .Permalink }}">{{ i18n "previous" }}: {{ .Title }}</a>
        {{ end }}
      </div>
      <div>
        {{ with .NextInSection }}
        <a class="btn btn-outline-primary" href="{{ .Permalink }}">{{ i18n "next" }}: {{ .Title }}</a>
        {{ end }}
      </div>
    </div>
  </footer>
{{ end }}