
$slides: 11;

.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include box-shadow(rgba(0, 0, 0, 0.2) 0px 2px 5px 0px);
  border-radius: 4px;

  .embed-responsive > & {
    position: static;
  }

  .bg-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .carousel-activators {
    display: none;
  }

  .carousel-inner {
    position: absolute;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
    overflow: visible;

    @for $i from 1 through $slides {
      @at-root .carousel .carousel-activators:nth-of-type(#{$i}):checked ~ .carousel-inner {
        transform: translateX(-(($i - 1) * 100%));
      }
    }
    
    .carousel-item {
      height: 100%;
      position: absolute;
      display: block !important;
      background: black;
      
      @for $i from 1 through $slides {
        &:nth-of-type(#{$i}) {
          transform: translateX(($i - 1) * 100%);
          -webkit-transform: translateX(($i - 1) * 100%);
        }
      }
    }
  }
  
  .carousel-indicators > li {
    position: relative;

    > label {
      position: absolute;
      left: 0;
      transform: translateY(-50%);
      height: 30px;
      width: 100%;
      cursor: pointer;
    }
  }
  
  @for $i from 1 through $slides {
    @at-root .carousel .carousel-activators:nth-of-type(#{$i}):checked ~ .carousel-indicators > li:nth-of-type(#{$i}) {
      opacity: 1;
    }
  }

  .carousel-control-group {
    display: none;

    > label {
      cursor: pointer;
    }
  }

  @for $i from 1 through $slides {
    .carousel-activators:nth-of-type(#{$i}):checked ~ .carousel-controls > .carousel-control-group:nth-of-type(#{$i}) {
      display: block;
    }
  }
}

