input[type=checkbox].dialog-collapse {
  display: none;

  & + .dialog {
    &, & + label.dialog-backdrop {
      display: none;
    }
  }

  &:checked + .dialog {
    display: block;

    & + label.dialog-backdrop {
      display: block;
    }

    &.modal-dialog {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: $zindex-modal;
      opacity: 1;
      .modal-content {
        overflow-y: auto;
      }

      &.modal-centered {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}