$theme-colors: map-remove($theme-colors, secondary, info);
//$grid-breakpoints: map-remove($grid-breakpoints, sm);

$navbar-height: ($font-size-sm * $line-height-base + $nav-link-padding-y * 2) !default;
$footer-height: ($font-size-base * $line-height-base * 2 + map-get($spacers, 5) * 2) !default;