.term {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.56);
    background-color: #3d3f41;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid #7a7a7d;
    & * {
        user-select: none !important;
        -webkit-user-select: none !important;
    }

    &-header {
        display: flex;
        padding: 5px;
        background: linear-gradient(#46474a, #393a3c);
        border-bottom: 1px solid #000;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;

        &-button {
            position: relative;
            width: 12px;
            height: 12px;
            margin-right: 8px;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 0;

            &-close {
                background: #ff5a52;
            }

            &-minimize {
                background: #e6c029;
            }

            &-expand {
                background: #52c22b;
            }
        }

        &-title {
            width: 100%;
            margin-left: -60px;
            font-family: sans-serif;
            font-size: 13px;
            line-height: 13px;
            text-align: center;
            color: #b9b9bc;
        }
    }

    &.inactive &-header {
        background: linear-gradient(to bottom, #3d3f41 0%,#3a3a3c 100%);

        &-button {
            &-close, &-minimize, &-expand {
                background-color: #505053;
            }
        }

        &-title {
            color: #6f7073;
        }
    }

    &-content {
        overflow: auto;
        height: 100%;
        padding: 10px;
        font-size: 0.9vw;

        // line-height: 1.2vw;
        color: #d2d8d9;
        font-family: monaco,Consolas,Lucida Console,monospace;

        @include media-breakpoint-down(sm) {
            font-size: 1.8vw;
        }

        &-user {
            color: #ff603b;
        }

        &-host {
            color: #91c681;
        }

        &-path, &-command-id, &-prompt-sign {
            color: #60b9fe;
        }

        &-branch-ok {
            color: #91c681;
        }
    }
}