// bootstrap

$black:    #000 !default;
$blue:	   #0095eb !default;

$font-family-technical: "Rubik", "Poppins", "Helvetica", Arial, sans-serif;

$enable-shadows: true !default;

// navbar
$navbar-light-color:                $black !default;
$navbar-light-hover-color:          $blue !default;
$navbar-light-active-color:         $blue !default;

$nav-link-padding-y:                1rem !default;
$nav-link-padding-x:                1rem !default;
$navbar-nav-link-padding-x:         1rem !default;
$font-family-navbar: "Montserrat", "Helvetica Neue", "Helvetica", Arial, sans-serif;

// Links
//
// Style anchor elements.

$link-hover-decoration:     none !default;