{{ $global := .global }}
{{ with .this }}
<div class="container">
  <div class="row">
    {{ if (false) }}
    <div class="col-lg-4 my-auto">
      {{ partial "image" (dict  "src" "icons/cert.svg" "class" "d-block mx-auto w-xs-75 w-md-50 w-lg-100") }}
    </div>
    {{ end }}
    <div class="col-lg-12 d-flex">
      <div class="container-fluid align-self-center">
        <div class="row">
          <div class="col-md-6 py-5 text-center">
            <span class="fa-stack fa-4x my-4">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              {{ partial "image" (dict  "src" "icons/openshift.svg" "class" "fa-stack-1x filter-invert absolute-center w-50" "alt" "OpenShift logo") }}
            </span>
            <h3 class="h3 mb-4">Containers, Kubernetes <br>and OpenShift Administration</h3>
            {{ $ansible := resources.Get "files/Containers, Kubernetes and Red Hat OpenShift Administration.pdf" | fingerprint "sha512" }}
            <a href="{{ $ansible.Permalink }}" target="_blank"  rel="nofollow" class="btn btn-sm btn-outline-primary px-2">
              Download
            </a>
          </div>
          <div class="col-md-6 py-5 text-center">
            <span class="fa-stack fa-4x my-4">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              {{ partial "image" (dict  "src" "icons/ansible.svg" "class" "fa-stack-1x filter-invert absolute-center w-50" "alt" "Ansible logo") }}
            </span>
            <h3 class="h3 mb-4">Linux Automation <br>with Ansible</h3>
            {{ $ansible := resources.Get "files/Redhat System Administration III - Linux Automation with Ansible.pdf" | fingerprint "sha512" }}
            <a href="{{ $ansible.Permalink }}" target="_blank"  rel="nofollow" class="btn btn-sm btn-outline-primary px-2">
              Download
            </a>
          </div>
          <div class="col-md-6 py-5 text-center">
            <span class="fa-stack fa-4x my-4">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-project-diagram fa-fw fa-inverse fa-stack-1x text-white mt-1"></i>
            </span>
            <h3 class="h3 mb-4">Summer School <br>LEAD_able</h3>
            {{ $leadable := resources.Get "files/Summer School LEAD_able - Leadership and Management Skills for Researchers.pdf" | fingerprint "sha512" }}
            <a href="{{ $leadable.Permalink }}" target="_blank"  rel="nofollow" class="btn btn-sm btn-outline-primary px-2">
              Download
            </a>
          </div>
          <div class="col-md-6 py-5 text-center">
            <span class="fa-stack fa-4x my-4">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-users fa-fw fa-inverse fa-stack-1x text-white"></i>
            </span>
            <h3 class="h3 mb-4">Effective Communication<br> in Multicultural Teams</h3>
            {{ $ecmt := resources.Get "files/Certificate ECMT.pdf" | fingerprint "sha512" }}
            <a href="{{ $ecmt.Permalink }}" target="_blank" rel="nofollow" class="btn btn-sm btn-outline-primary px-2">
              Download
            </a>
          </div>
          <div class="col-md-12 py-5 text-center">
            <span class="fa-stack fa-4x my-4">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              {{ partial "image" (dict  "src" "icons/scrum.png" "class" "fa-stack-1x p-4" "alt" "Scrum process logo") }}
            </span>
            <h3 class="h3 mb-4">Professional <br>Scrum Master I</h3>
            {{ $psm := resources.Get "files/PSM I.pdf" | fingerprint "sha512" }}
            <a href="{{ $psm.Permalink }}" target="_blank"  rel="nofollow" class="btn btn-sm btn-outline-primary px-2">
              Download
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}