{{ $global := .global }}
{{ $contact := .this }}
{{ with $contact }}
<div class="row justify-content-center">
  <div class="col px-0">
    <div class="anchor" id="contact-success"></div>
    <div class="alert alert-success alert-dismissible fade show d-none" role="alert">
      {{ with $contact.thanks }}
        {{ . | markdownify }}
      {{ else }}
        Thank you for contacting us.
      {{ end }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="anchor" id="contact-error"></div>
    <div class="alert alert-danger alert-dismissible fade show d-none" role="alert">
      {{ with $contact.error }}
        {{ . | markdownify }}
      {{ end }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="anchor" id="contact-validation-failed"></div>
    <div class="alert alert-danger alert-dismissible fade show d-none" role="alert">
      {{ with $contact.validation }}
        {{ . | markdownify }}
      {{ end }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="col-12 px-xl-0">
    <form
      method="POST"
      name="sentMessage"
      id="contactForm"
      action="${SUB_MAILER_URL}/sendmail.php"
      enctype="multipart/form-data">

      <div class="row justify-content-center">
        {{ with $contact.form.name }}
        <div class="form-group col-lg-6">
          <input class="form-control" id="name" required="required" type="text" name="name" placeholder="{{ with .text }}{{ .  | markdownify }}{{ end }}" data-msg-required="{{ with .required }}{{ . | markdownify }}{{ end }}">
        </div>
        {{ end }}

        {{ with $contact.form.email }}
        <div class="form-group col-lg-6">
          <input class="form-control" id="email" required="required" type="email" name="email" placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}" data-msg-required="{{ with .required }}{{ . | markdownify }}{{ end }}" data-msg-email="{{ with .email }}{{ . | markdownify }}{{ end }}">
        </div>
        {{ end }}
      </div>

      <div class="row justify-content-center">

        {{ with $contact.form.subject }}
        <div class="form-group col">
          {{ partial "select" (dict "id" "subject" "name" "subject" "items" .items "placeholder" .text "required" true "class" "w-100" "attributes" (dict "data-msg-required" .required)) }}
        </div>
        {{ end }}

      </div>
      <div class="row justify-content-center">

        {{ with $contact.form.message }}
        <div class="form-group input-group col">
          <textarea class="form-control" id="message" required="required" name="message" placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}" data-msg-required="{{ with .required }}{{ . | markdownify }}{{ end }}" rows="10"></textarea>
        </div>
        {{ end }}

      </div>
      <div class="row justify-content-center">
        {{ with $contact.form.file }}
        <div class="form-group col">
          <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" name="file" id="fileInput" accept=".pdf, application/pdf">
            <label class="custom-file-label" for="fileInput">{{ with .text }}{{ . }}{{ end }}</label>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="row justify-content-center">
        <div class="form-group col">
          <div class="g-recaptcha mb-3" data-sitekey="6LdAuWEUAAAAAKbRNW8oMl7-1dIjQgTKMjTX9Qe8"></div>
          <noscript>
            {{ with $contact.form.extra }}
            <label for="extra">{{ with .text }}{{ . | markdownify }}{{ end }}</label>
            <input id="extra" class="form-control mb-3" required="required" type="text" placeholder="{{ with .placeholder }}{{ . | markdownify }}{{ end }}" name="extra">
            {{ end }}
          </noscript>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="row justify-content-center">
        <div class="col-md-8 d-flex flex-column flex-md-row justify-content-md-center">
          <button type="submit" value="Submit" class="btn btn-lg btn-primary h-auto">
            <i class="fab fa-telegram-plane"></i>&nbsp;
            {{ print $contact.buttonText }}
          </button>
        </div>
      </div>
      <input type="hidden" name="_success" value="{{ printf "%s#%s" (printf "/" | absLangURL) "contact-success" }}"/>
      <input type="hidden" name="_error" value="{{ printf "%s#%s" (printf "/" | absLangURL) "contact-error" }}"/>
      <input type="hidden" name="_validation" value="{{ printf "%s#%s" (printf "/" | absLangURL) "contact-validation-failed" }}"/>
      <input type="hidden" name="_language" value="{{ $global.Site.Language.Lang }}" />
      <input type="text" name="_gotcha" class="d-none" />
    </form>
  </div>
</div>
{{ end }}