{{ $global := .global }}
{{ $hero := .this }}
{{ with $hero }}
{{ "<!-- Hero -->" | safeHTML }}
<header class="hero container-fluid">
  <div class="row">
    <div class="col-12 align-self-start"></div>
    <div class="col-12 align-self-center">
      <div class="row text-center">
        <h1 class="col-12 display-4 d-lg-none">{{ $global.Site.Title }}</h1>
        <h1 class="col-12 display-3 d-none d-lg-inline-block">{{ $global.Site.Title }}</h1>
      </div>
      <div class="row text-center">
        <h1 class="col-12 h2 mt-3 mb-0 h4">{{ .tagline }}<span class="cursor">|</span></h1>
      </div>
    </div>
    <a class="col-12 text-center h3 align-self-end next-section" href="#profile">
      <i class="fa animated-gradient h2">&#xf078;</i>
    </a>
  </div>
</header>
{{ end }}