{{ with .this }}
<div class="row pb-3 justify-content-center">
  <div class="col col-xl-9 row">
    {{ range $key, $value := .items }}
    {{ with $value }}
    <div id="profile-{{ .id }}" class="col-sm-6 col-md-4 text-center mb-5">
      <div class="info">
        <div class="text-primary pb-3">
          <span class="fa-stack fa-3x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="{{ .icon }} fa-inverse fa-fw fa-stack-1x"></i>
          </span>
        </div>
        <h4>{{ .title | markdownify }}</h4>
        <p class="description text-muted text-justify">{{ with .description }}{{ . | markdownify }}{{ end }}</p>
        {{ if .url }}
        <a class="btn btn-outline-primary" rel="extern noopener noreferrer" href="{{ .url | absURL }}" target="_blank"><i class="fas fa-external-link-alt"></i>&nbsp;{{ .title | markdownify }}</a>
        {{ end }}
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}