{{ $global := .global }}
{{ with .this }}
<div class="container">
  <div class="row">
    {{ if (false) }}
    <div class="col-lg-4 my-auto">
      {{ partial "image" (dict  "src" "icons/cert.svg" "class" "d-block mx-auto w-xs-75 w-md-50 w-lg-100") }}
    </div>
    {{ end }}
    <div class="col-lg-12 d-flex">
      <div class="container-fluid align-self-center">
        <div class="row">
          <div class="col-md-4 py-5 text-center">
            <span class="fa-stack fa-4x my-4">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-rocket fa-fw fa-inverse fa-stack-1x text-white"></i>
            </span>
            <h3 class="h3 mb-4">Dynamic Difficulty Adjustment based<br>on Soft Computing Algorithms</h3>
            {{ $bt1 := resources.Get "files/Bachelor Thesis 1 - Dynamic Difficulty Adjustment based on Softcomputing Algorithms.pdf" | fingerprint "sha512" }}
            <a href="{{ $bt1.Permalink }}" target="_blank" rel="nofollow" class="btn btn-sm btn-outline-primary px-2">
              Download
            </a>
          </div>
          <div class="col-md-4 py-5 text-center">
            <span class="fa-stack fa-4x my-4">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-volleyball-ball fa-fw fa-inverse fa-stack-1x text-white"></i>
            </span>
            <h3 class="h3 mb-4">Contextual Reinforcement Learning<br>in Computer Games</h3>
            {{ $bt2 := resources.Get "files/Bachelor Thesis 2 - Contextual Reinforcement Learning in Computer Games.pdf" | fingerprint "sha512" }}
            <a href="{{ $bt2.Permalink }}" target="_blank" rel="nofollow" class="btn btn-sm btn-outline-primary px-2">
              Download
            </a>
          </div>
          <div class="col-md-4 py-5 text-center">
            <span class="fa-stack fa-4x my-4">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fab fa-stack-overflow fa-fw fa-inverse fa-stack-1x text-white"></i>
            </span>
            <h3 class="h3 mb-4">Personalised Recommendations of Free-Form Questions<br>on Stack Overflow</h3>
            {{ $ms := resources.Get "files/Master Thesis - Personalised Recommendations of Free-Form Questions on StackOverflow.pdf" | fingerprint "sha512" }}
            <a href="{{ $ms.Permalink }}" target="_blank" rel="nofollow" class="btn btn-sm btn-outline-primary px-2">
              Download
            </a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}