{{ with (index .Site.Data .Site.Language.Lang) }}
  {{ $.Scratch.Set "Data" . }}
{{ else }}
  {{ $.Scratch.Set "Data" .Site.Data }}
{{ end }}

<!doctype html>
<html lang="{{ with .Site.Language.Lang }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "meta/head.html" . }}
  <body class="bg-dark">
    {{ if and (isset .Site.Params "gtmId") (eq (getenv "HUGO_ENV") "production") }}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.gtmId }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ end }}
    {{ $meta := (index ($.Scratch.Get "Data") "meta" ) }}
    {{ range (slice "nav") }}
      {{ if isset $meta . }}
        {{ partial (printf "meta/%s" .) (dict "global" $ "this" (index $meta .)) }}
      {{ else }}
        {{ partial (printf "meta/%s" .) (dict "global" $ "this" (index $.Site.Data.meta .)) }}
      {{ end }}
    {{ end }}

    {{ $jsnotice := (index (index ($.Scratch.Get "Data") "meta") "jsnotice") }}
    {{ partial "meta/jsnotice" (dict "this" $jsnotice) }}
    {{ $languagechooser := (index (index ($.Scratch.Get "Data") "meta") "languagechooser") }}
    {{ partial "meta/languagechooser" (dict "global" $ "this" $languagechooser) }}

    <main id="page-{{ .Title | singularize | urlize }}" class="bg-white">
    {{ block "main" .  }}
    {{ end }}
    </main>
    {{ partial "meta/footer.html" . }}

    {{ partial "meta/js.html" . }}
  </body>
</html>