{{ define "main" }}
  <header class="py-5">
    <div class="container d-flex flex-column align-items-center">
      <h1 class="title font-weight-bold text-uppercase">{{ .Title }}</h1>
      {{ with .Description }}<h2>{{ . }}</h2>{{ end }}
    </div>
  </header>
  <section class="container">
    <div class="row pb-5">
      <div class="col content {{ with .Params.centered }} text-center {{ end }}">
        {{ .Content }}
      </div>
    </div>
  </section>
{{ end }}