{{ $global := . }}

{{ $data := slice (dict "font" "montserrat" "weight" 400 "version" 12 "suffix" "regular") (dict "font" "montserrat" "weight" 700 "version" 12 "suffix" "700") (dict "font" "rubik" "weight" 400 "version" 7 "suffix" "regular") (dict "font" "bitter" "weight" 400 "version" 12 "suffix" "regular") }}

{{ range $data }}
{{ $this := . }}
{{ $extensions := slice "eot" "woff2" "woff" "ttf" "svg" }}
{{ range $ext := $extensions }}
{{ $resource := resources.Get (printf "/fonts/%s-v%d-latin-%s.%s" $this.font $this.version $this.suffix $ext) }}
{{ $global.Scratch.Set (print $ext)  ($resource) }}
{{ end }}
@font-face {
  font-family: {{ print (title .font) }};
  font-display: swap;
  font-style: normal;
  font-weight: {{ .weight }};
  {{ $eot := $global.Scratch.Get "eot" }}
  src: url('{{ $eot.Permalink }}'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('{{ $eot.Permalink }}?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       {{ $woff2 := $global.Scratch.Get "woff2" }}
       url('{{ $woff2.Permalink }}') format('woff2'), /* Super Modern Browsers */
       {{ $woff := $global.Scratch.Get "woff" }}
       url('{{ $woff.Permalink }}') format('woff'), /* Modern Browsers */
       {{ $ttf := $global.Scratch.Get "ttf" }}
       url('{{ $ttf.Permalink }}') format('truetype'), /* Safari, Android, iOS */
       {{ $svg := $global.Scratch.Get "svg" }}
       url('{{ $svg.Permalink }}#{{ title .font }}') format('svg'); /* Legacy iOS */
}
{{ end }}