{{ define "main" }}
  <header class="py-5">
    <div class="container d-flex justify-content-center">
      <h1 class="title font-weight-bold text-uppercase">Tag: {{ .Title }}</h1>
    </div>
  </header>
  <section class="container">
    {{ range .Paginator.Pages }}
    <article class="d-flex flex-column py-4">
      <header>
        <h3>{{ .Title }}</h3>
        {{ with .Description }}<h5>{{ . }}</h5>{{ end }}
      </header>
      <section>
        <p>{{ .Summary }}</p>
      </section>
      <div class="pb-2">
        <a href="{{ .Permalink }}">{{ i18n "readMore" }}...</a>
      </div>
      <footer class="d-flex">
        <div>
          <i class="far fa-calendar-alt pr-2"></i>
          <time datetime="{{ .Date.UTC }}">{{ dateFormat (i18n "dateFormat") .Date }}</time>
        </div>
        <div class="d-flex align-items-center ml-2">
          <div><i class="fas fa-tags pr-2"></i></div>
          {{ range .Params.Tags }}
          <a class="btn btn-outline-primary btn-xs ml-1" href="/tags/{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </div>
      </footer>
    </article>
    {{ end }}
  </section>
  <footer class="py-5">
  </footer>
{{ end }}