{{ define "main" }}
  <header class="py-5">
    <div class="container d-flex justify-content-center">
      <h1 class="title font-weight-bold text-uppercase">{{ .Title }}</h1>
    </div>
  </header>
  <section class="container">
    <div class="row">
      {{ range .Paginator.Pages }}
      <article class="col-md-3 col-12 d-flex flex-column py-4">
        <header>
          <h3>{{ .Title }}</h3>
          {{ with .Description }}<h5>{{ . }}</h5>{{ end }}
        </header>
        <section>{{ i18n "relatedPosts" }}: {{ len .Pages }}</section>
        <div class="pb-2">
          <a href="{{ .Permalink }}">{{ i18n "show" }}...</a>
        </div>
      </article>
      {{ end }}
    </div>
  </section>
  <footer class="py-5">
  </footer>
{{ end }}