{{ $this := . }}
{{ with $this }}
<div class="embed-responsive embed-responsive-16by9">
  <div id="{{ .id }}" class="carousel slide embed-responsive-item" data-ride="carousel">
    {{ range $i, $item := .items }}
    <input type="radio" name="{{ $this.id }}-carousel-activators" class="carousel-activators" id="{{ printf "activator-%s-%d" $this.id $i }}"{{ if (eq $i 0) }} checked{{ end }}>
    {{ end }}
    <div class="carousel-inner h-100">
      {{ range $item := .items }}
      <div class="carousel-item h-100 bg-black active">
        <div class="{{ $item.class }} bg-image d-block h-100 mx-auto"></div>
        <div class="carousel-caption d-none d-md-block bg-07 w-100 px-5 left-0 right-0 bottom-0">
          <h5>{{ $item.header }}</h5>
          <p>{{ $item.text | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="carousel-controls">
      {{ range $i, $item := .items }}
      <div class="carousel-control-group">
        <label class="carousel-control-prev" for="{{ printf "activator-%s-%d" $this.id (cond (eq $i 0) (sub (len $this.items) 1) (sub $i 1)) }}">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </label>
        <label class="carousel-control-next" for="{{ printf "activator-%s-%d" $this.id (cond (eq $i (sub (len $this.items) 1)) 0 (add $i 1)) }}">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </label>
      </div>
      {{ end }}
    </div>
    <ol class="carousel-indicators">
      {{ range $i, $item := .items }}
      <li><label for="{{ printf "activator-%s-%d" $this.id $i }}"></label></li>
      {{ end }}
    </ol>
  </div>
</div>
{{ end }}