{{/* id            - id of the element to send it inside a form */}}
{{/* name          - name of the element to send it inside a form */}}
{{/* items         - items that can be chosen from */}}
{{/* items.name    - name of the item for the id */}}
{{/* items.value   - value of the item */}}
{{/* items.[text]  - text shown instead of the value [default: value] */}}
{{/* [class]       - will be merged with the elements class */}}
{{/* [required]    - if the select should be required */}}
{{/* [placeholder] - placeholder text */}}

{{ $name := .name }}
{{ $required := .required }}
<div id="{{ .id }}" class="nojs-select{{ with .class }} {{ . }}{{ end }}"{{ range $key, $value := .attributes }}{{ printf " %s=\"%s\"" $key $value | safeHTMLAttr }}{{ end }}>
  <div class="nojs-select-placeholder">{{ with .placeholder }}{{ . }}{{ else }}Select...{{ end }}</div>
  {{ range .items }}
  <input id="nojs-item-{{ .name }}" class="nojs-select-radio" type="radio" name="{{ $name }}" value="{{ .value }}"{{ with $required }}{{ if $required }} required="required"{{ end }}{{ end }}>
  <div class="nojs-select-text">{{ with .text }}{{ .text }}{{ else }}{{ .value }}{{ end }}</div>
  {{ end }}
  <span class="nojs-select-toggle" tabindex="0">
    <div class="arrow-down"></div>
  </span>
  <div class="nojs-select-menu">
    {{ range .items}}
    <label class="nojs-select-item" for="nojs-item-{{ .name }}">{{ with .text }}{{ .text }}{{ else }}{{ .value }}{{ end }}</label>
    {{ end }}
  </div>
</div>