{{ $this := .}}
{{ range $i, $e := .commands }}
{{ with $this }}
<span class="term-content-user">{{ .user }}</span> <span class="term-content-at">at</span> <span class="term-content-host">{{ .host }}</span> <span class="term-content-in">in</span> <span class="term-content-path">{{ .path | default "~" }}</span>{{ with .branchOK }} <span class="term-content-branch-ok">( {{ . }} ✔ )</span>{{ end }}<br><span class="term-content-command-id">[{{ $e.commandId | default (add $i 1) }}]</span><span class="term-content-prompt-sign">$</span> {{ $e.command }}</span><br>{{ with $e.result }}<span>{{ . | markdownify }}</span><br>{{ end }}<br>
{{ end }}
{{ end }}