{{ $this := .}}
{{ with $this }}
<div class="embed-responsive embed-responsive-16by9">
  <div id="{{ .id }}" class="term embed-responsive-item text-left{{ with .class }} {{ . }}{{ end }}">
    <div class="term-header">
        <button class="term-header-button term-header-button-close" disabled></button>
        <button class="term-header-button term-header-button-minimize"disabled></button>
        <button class="term-header-button term-header-button-expand"disabled></button>
        <div class="term-header-title">
            <span>{{ .title }}</span>
        </div>
    </div>
    <div class="term-content">
{{ end }}