{{ $poster := resources.Get (printf "img/posters/%s.png" .src) | fingerprint "sha512" }}
<div class="embed-responsive embed-responsive-16by9">
<video class="video-player w-100 h-100{{ with .class }} {{ . }}{{ end }}" preload="none" playsinline controls>
    {{ $mp4 := resources.Get (printf "videos/%s.mp4" .src) | fingerprint "sha512" }}
    <source src="{{ $mp4.Permalink }}" type="video/mp4" media="screen and (min-width:800px)" size="720">
    {{ $ios := resources.Get (printf "videos/%s.ios.mp4" .src) | fingerprint "sha512" }}
    <source src="{{ $ios.Permalink }}" type="video/mp4" media="screen and (max-width:799.85px)" size="360">
    {{ $webm := resources.Get (printf "videos/%s.webm" .src) | fingerprint "sha512" }}
    <source src="{{ $webm.Permalink }}" type="video/webm" size="720">
    {{ $ogg := resources.Get (printf "videos/%s.ogv" .src) | fingerprint "sha512" }}
    <source src="{{ $ogg.Permalink }}" type="video/ogg" size="720">
    {{ if isset . "youtube" }}
    <iframe src="{{ printf "https://www.youtube.com/embed/%s?rel=0&color=white&modestbranding=1&showinfo=0&hl=%s" .youtube (.global.Site.Language.Lang | lower) }}" allow="encrypted-media"></iframe>
    {{ else }}
    This tag is not supported. Download the video <a class="btn btn-link" href="{{ $mp4.Permalink }}" alt="{{ .src }}">{{ (printf "videos/%s.mp4" .src) }} here</a>.
    {{ end }}
</video>
</div>
