#page-blog {
  article {
    border-top: 1px dashed #868e96;
  }
}

// .toc {
//   box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
//   border: 1px solid #e5e5e5;
//   border-collapse: collapse;
//   border-spacing: 0;
// }

.toc {
  border-top: 1px dashed #868e96;
  border-bottom: 1px dashed #868e96;
}

.blog-article + footer > .d-flex {
  border-top: 1px dashed #868e96;
}

.highlight { 
  td pre {
    padding: 8px 12px;
    margin-bottom: 0;
  }

  td:first-of-type pre {
    padding-right: 0;
  }

  td:last-of-type pre {
    padding-left: 0;
  }

  > pre {
    padding: 8px 12px;
  }
}