#contact + .section {
	textarea {
		resize: none;
	}

	.error {
		color: $red;
	}

	.badge {
    position: absolute;
    right: 24px;
    top: 10px;
	}

	.select-wrapper {
		position: relative;
		display: inline-block;

		&>.bootstrap-select {
			z-index: 2;
		}

		&>select {
			display: block !important;
			cursor: pointer;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			z-index: 0;
		}

		// arrow down ???not necessary???
		// &:after {
		// 	content: '';
    //	width: 0;
    //	position: absolute;
	  //  right: 14px;
	  //  top: 50%;
	  //  margin-top: -3px;
	  //  border-width: 6px 4px;
	  //  border-style: solid;
	  //  pointer-events: none;
	  //  border-color: #656565 transparent transparent transparent;
	  //  z-index: 1;
		// }
	}

	.bootstrap-select>.dropdown-toggle.bs-placeholder {
		color: #646c74;
	}
}

#contact-success:target + .alert {
	display: block !important;
}

#contact-error:target + .alert {
	display: block !important;
}

#contact-validation-failed:target + .alert {
	display: block !important;
}