@each $name, $url in $image-names-small {
  .#{$name}-image {
    background-image: url($url) !important;
  }
}

@media (min-width: 480px) {
  @each $name, $url in $image-names {
  .#{$name}-image {
    background-image: url($url) !important;
  }
}
}