#lang-dialog {
  .modal-content {
    border-radius: 0 !important;

    .modal-body {
      padding: 0;
    }

    .modal-footer {
      min-height: ($modal-inner-padding * 2) + ($btn-padding-y * 2) + ($font-size-base * $btn-line-height);
    }
  }

  button[data-dismiss] {
    text-transform: uppercase;
    font-family: $font-family-navbar;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    label {
      padding: 1rem 1.5rem;
      margin: 0;
      text-transform: uppercase;
      transition: color 0.15s ease-in-out, background 0.15s ease-in-out, font-weight 0.15s ease-in-out;
      font-family: $font-family-navbar;

      &:hover {
        cursor: pointer;
      }

      .far {
        line-height: initial;
      }

      .fa-circle {
        color: $gray-500;
      }
    }

    [type="radio"]:checked + label {
      background: $blue;
      color: white;
      font-weight: 700;
    }

    [type="radio"]:not(:checked) + label .fa-check-circle {
      display: none;
    }

    [type="radio"]:checked + label .fa-circle {
      display: none;
    }

    li + li label {
      border-top: 1px solid #e9ecef;
    }

    li > a {
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
    }

    [type="radio"]:not(:checked) ~ a {
      display: none;
    }
  }
}

.lang-floating-btn {
  width: 68px;
  height: 68px;
  right: 16px;
  bottom: 16px;
  border-radius: 100%;
  z-index: 1000;

  .fa-language {
    margin-top: 7px;
  }
}