.navbar {

	&.navbar-shadow, .navbar-shadow, &:not(.navbar-shadow) .navbar-collapse {
		@include box-shadow(0 2px 10px rgba(0,0,0,0.4));
	}

  .shadow-occluder {
    margin-top: -10px;
    height: 10px;
    z-index: 1;
  }

	&.navbar-light {
		.navbar-brand {
    		color: $black;
    		font-family: Rubik, Poppins, Helvetica, Arial, sans-serif;
    		font-size: 28px;
        padding-top: 5.5px;
        padding-bottom: 5.5px;
		}
	}

	.nav-link {
		font-family: $font-family-navbar;
		font-size: $font-size-sm;
		letter-spacing: 1px;
    padding-left: $nav-link-padding-x;
    padding-right: $nav-link-padding-x;
	}

  noscript {
    z-index: 1;
    height: 10px;
    bottom: -10px !important;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.2) 30%,rgba(0,0,0,0) 80%);
  }

  @include media-breakpoint-down('md') {
    .collapse {
      display: block;
      max-height: 0;
      overflow: hidden;
      transition: max-height .65s ease;
    }

    .navbar-enabler:checked ~ .collapse {
      display: block;
      max-height: 500px;
    }

    .navbar-enabler:checked ~ noscript {
      display: none;
    }
  }

  .navbar-enabler {
    display: none;
  }

  .navbar-collapse.show > .navbar-closer {
    display: block !important;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
  }
}

@include media-breakpoint-down('md') {
  .navbar .container {
    width: 100%;
    max-width: none;
  }
}

@include media-breakpoint-up('lg') {
	.navbar .navbar-brand.position-lg-absolute {
		z-index: 1;
	}

	.navbar .collapse.navbar-collapse {
		@include box-shadow(none);
	}
}

#top {
  height: $navbar-height;
}