.profile {
  width: 250px;
  height: 250px;
}

@include media-breakpoint-up('sm') {
  .profile {
    width: 300px;
    height: 300px;
  }
}

#profile + .section .description {
	overflow: hidden;
	text-overflow: ellipsis;
	/*height: $line-height-base * $font-size-base * 3;*/
}