.section {
    &.bg {
    	background-image: url("/img/bg.jpg");
    }

    &:before {
      content: '';
      position: relative;
      display: block;
      visibility: hidden;
      top: -106px;
    }
}

@media (min-width: 768px) {
	.d-md-list-item {
		display: list-item !important;
	}
}