.nojs-select {
  position: relative;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  color: #495057;
  height: 38px;
  cursor: pointer;

  .nojs-select-placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }
  
  .nojs-select-radio {
    visibility: hidden;
    
    & + .nojs-select-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      border-radius: .25rem;
      background-color: white;
      padding: 7px;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
    }
    
    &:not(:checked) + .nojs-select-text {
      display: none;
    }
  }
  
  .nojs-select-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;

    .arrow-down {
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;

      border-top: 5px solid #495057;

      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
    
    & + .nojs-select-menu {
      position: absolute;
      top: 100%;
      margin-top: 5px;
      margin-left: -1px;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease-in-out, visibility 0s ease-in 0.1s;
      width: calc(100% + 4px);
      box-shadow: rgba(0, 0, 0, 0.172549) 0px 8px 16px 0px;
      border-radius: .25rem;
      border: 1px solid #ced4da;
      z-index: 1000;

      .nojs-select-item {
        display: block;
        margin: 0;
        padding: 10px;
        cursor: pointer;
        color: #495057;
        
        &:first-of-type {
          border-top-left-radius: .25rem;
          border-top-right-radius: .25rem;
        }
        
        &:last-of-type {
          border-bottom-left-radius: .25rem;
          border-bottom-right-radius: .25rem;
        }
        
        &:hover {
          background-color: #f8f9fa;
        }
      }
    }
    
    &:focus {
      pointer-events: none;
      outline: none;
      
      & + .nojs-select-menu {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: visibility 0s ease-in 0s;
      }
    }
  }
}