.timeline {
	position: relative;
	padding: 0;
	list-style: none;

	/*&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 40px;
		width: 2px;
		margin-left: -1.5px;
		background-color: #f1f1f1;
	}*/

	> li {
		position: relative;
		margin-bottom: 50px;
		min-height: 50px;

		&:before, &:after {
			content: " ";
			display: table;
		}

		&:after {
			clear: both;
		}

		> .timeline-item {
			min-height: 80px;
		}

		&:not(:last-child) > .timeline-item:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			margin-bottom: -50px;
			left: 40px;
			width: 2px;
			margin-left: -1.5px;
			background-color: #f1f1f1;
		}

		.timeline-panel {
			float: right;
			position: relative;
			width: 100%;
			padding: 0 20px 0 100px;
			text-align: left;

			&:before, &:after {
				right: auto;
				border-left-width: 0;
			}

			&:before {
				left: -15px;
				border-right-width: 15px;
			}

			&:after {
				left: -14px;
				border-right-width: 14px;
			}
		}

		.timeline-image {
			z-index: 100;
			position: absolute;
			left: 0;
			width: 80px;
			height: 80px;
			margin-left: 0;
			border: 7px solid #f1f1f1;
			border-radius: 100%;
			text-align: center;
			color: #fff;
			background-color: $blue;

			h4 {
				margin-top: 12px;
				font-size: 10px;
				line-height: 14px;
			}
		}

		&.timeline-inverted .timeline-panel {
			float: right;
			padding: 0 20px 0 100px;
			text-align: left;

			&:before, &:after {
				right: auto;
				border-left-width: 0;
			}

			&:before {
				left: -15px;
				border-right-width: 15px;
			}

			&:after {
				left: -14px;
				border-right-width: 14px;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.timeline-heading h4 {
		margin-top: 0;
		color: inherit;

		&.subheading {
			text-transform: none;
		}
	}

	.timeline-body>p,
	.timeline-body>ul {
		margin-bottom: 0;
	}
}

@media(min-width:768px) {
	.timeline {

		> li {
			margin-bottom: 100px;
			min-height: 100px;

			> .timeline-item {
				min-height: 100px;
			}

			&:not(:last-child) > .timeline-item:before {
				left: 50%;
				margin-bottom: -100px;
			}

			.timeline-panel {
				float: left;
				width: 41%;
				padding: 0 20px 20px 30px;
				text-align: right;
			}

			.timeline-image {
				left: 50%;
				width: 100px;
				height: 100px;
				margin-left: -50px;

				h4 {
					margin-top: 16px;
					font-size: 13px;
					line-height: 18px;
				}
			}

			&.timeline-inverted .timeline-panel {
				float: right;
				padding: 0 30px 20px 20px;
				text-align: left;
			}
		}
	}
}

@media(min-width:992px) {
	.timeline {
		> li {
			min-height: 150px;

			> .timeline-item {
				min-height: 150px;
			}

			.timeline-panel {
				padding: 0 20px 20px;
			}

			.timeline-image {
				width: 150px;
				height: 150px;
				margin-left: -75px;
			}

			&.timeline-inverted .timeline-panel {
				padding: 0 20px 20px;
			}
		}
	}
}

@media(min-width:1200px) {
	.timeline {
		> li {
			min-height: 170px;

			> .timeline-item {
				min-height: 170px;
			}

			.timeline-panel {
				padding: 0 20px 20px 100px;
			}

			.timeline-image {
				width: 170px;
				height: 170px;
				margin-left: -85px;

				h4 {
					margin-top: 40px;
				}
			}

			&.timeline-inverted .timeline-panel {
				padding: 0 100px 20px 20px;
			}
		}
	}
}