.aruna-video {
  background-image: url($aruna-small-url) !important;
}

.neah-video {
  background-image: url($neah-small-url) !important;
}

.polycular-video {
  background-image: url($polycular-small-url) !important;
}


@media (min-width: 640px) {
  .aruna-video {
    background-image: url($aruna-url) !important;
  }

  .neah-video {
    background-image: url($neah-url) !important;
  }

  .polycular-video {
    background-image: url($polycular-url) !important;
  }
}