{{ define "main" }}
  <header class="py-5">
    <div class="container d-flex flex-column align-items-center">
      <h1 class="title font-weight-bold text-uppercase mb-5">{{ i18n "404_title" }}</h1>
  </header>
  <section class="container text-center">
    {{ i18n "404_text" }}<a href="{{ printf "/" | absLangURL }}"><i class="fas fa-home text-primary"></i> {{ i18n "404_link" }}</a>
  </section>
  <footer class="py-5">
  </footer>
{{ end }}