{{ define "main" }}
  {{ if false }}
  {{ with (index .Site.Data .Site.Language.Lang) }}
    {{ $.Scratch.Set "Data" . }}
  {{ else }}
    {{ $.Scratch.Set "Data" .Site.Data }}
  {{ end }}
  {{ end }}

  {{ $sections := (index ($.Scratch.Get "Data") "sections") }}
  {{ range (slice "hero") }}
    {{ if isset $sections . }}
      {{ partial (printf "sections/%s" .) (dict "global" $ "this" (index $sections .)) }}
    {{ else }}
      {{ partial (printf "sections/%s" .) (dict "global" $ "this" (index $.Site.Data.sections .)) }}
    {{ end }}
  {{ end }}
  {{ range $i, $name := .Site.Params.sections }}
    {{ if isset $sections $name }}
      {{ $.Scratch.Set "Context" (index $sections .) }}
    {{ else if isset $.Site.Data.sections . }}
      {{ $.Scratch.Set "Context" (index $.Site.Data.sections . ) }}
    {{ end }}

    {{ with $.Scratch.Get "Context" }}
    {{ (printf "<!-- %s -->" .title) | safeHTML }}
    <div class="anchor" id="{{ .slug }}"></div>
    <section class="section py-5 {{ if (modBool $i 2) }}bg-light{{ end }}">
      <div class="{{ if (ne .fluid false) }}container-fluid{{ else }}container{{ end }} px-md-5">
        <div class="row pb-5">
          <div class="col-md-8 mx-auto text-center">
            {{ with .profile }}
            {{ $profile := resources.Get "img/me.jpg" }}
            <div class="profile img-framed img-circle mx-auto mb-5" style="background-image: url({{ $profile.Permalink }})"></div>
            {{ end }}
            {{ with .title}}
            <h2 class="col-12 title font-weight-bold text-uppercase">{{ . | markdownify }}</h2>
            {{ end }}
            {{ $centered := .centeredSubtitle }}
            {{ with .subtitle }}
            <h5 class="description font-weight-light text-muted mt-4 text-left{{ if $centered }} text-lg-center{{ end }}">{{ . | markdownify }}</h5>
            {{ end }}
          </div>
        </div>
        {{ partial (printf "sections/%s" $name) (dict "global" $ "this" .) }}
      </div>
    </section>
    {{ end }}
  {{ end }}
{{ end }}